extends layout

block content
    h1.
        Search List

    var personArray =  !{searchlist} ;
     
//    var id =personArray.idNummer;
 //   var Name =personArray.userName;
 //   var Nachname = personArray.userNachname;
 //   var Email =personArray.userEmail;
 //   var Raum =personArray.userRaum;
    //var personArray =  !{searchlist} ;
    ul
        each item,i in personArray
            li
                a = item.username
                a = item.usernachname
                a = item.userraum
